<div class="page-container">
  <button (click)="redirectPage()" class="redirect-button">
    Redirecionar para alunos
  </button>

  <div class="container">
    <div class="left-box">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
      pulvinar quam. Vestibulum fringilla, mi at efficitur fringilla, purus
      justo gravida ante, sit amet laoreet dui massa non leo. Pellentesque
      placerat velit finibus tortor convallis malesuada. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit. Sed tempor consequat dui, vitae
      vestibulum dui laoreet ut. Duis eget nulla eu ligula gravida lobortis.
      Etiam accumsan, orci nec fermentum imperdiet, nunc neque finibus augue,
      quis tempus elit ex eget eros. Sed tempus nisl ut urna commodo, ac
      tincidunt nibh interdum. Pellentesque ex leo, ornare eget porttitor a,
      facilisis vitae sem. Fusce mollis lectus risus, in fermentum metus
      efficitur at. In quis nibh arcu. In quis nunc a lacus ultricies
      sollicitudin vitae et libero. Mauris fermentum odio leo, ac vulputate
      turpis ornare quis. In ac mauris ipsum. Praesent vel neque et orci
      molestie vehicula at at sem. In sit amet dapibus sem, eu vehicula urna.
      Fusce pretium mi at libero pellentesque dignissim. Suspendisse vestibulum
      nisi sit amet pretium molestie. Donec ac velit quis nulla luctus finibus.
      Suspendisse sit amet aliquam nibh, eu tempor nisl. Nulla lorem enim,
      convallis fringilla purus non, pretium rhoncus diam. Ut a malesuada
      lectus. Nulla eget neque auctor, accumsan nunc sodales, dapibus metus.
      Mauris purus ligula, volutpat non condimentum eu, bibendum eu augue. Nulla
      et magna nec magna venenatis scelerisque. Aenean sodales sapien vel neque
      imperdiet imperdiet. Vestibulum a libero varius, aliquet elit id, vehicula
      lorem. Sed et lacus a mi egestas fringilla. Vestibulum ante ipsum primis
      in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque
      semper est nec erat vehicula finibus. Proin dictum mi ac vestibulum
      sollicitudin. Morbi pharetra, ex vitae dictum sodales, massa purus euismod
      dolor, nec laoreet neque libero eget leo. Nunc sodales, tellus a volutpat
      facilisis, dui erat mollis erat, eu volutpat mauris justo porta nulla.
      Nullam lobortis leo a sem hendrerit, non tempus tellus volutpat. Integer
      laoreet a lorem quis interdum. Cras vel tellus a ex iaculis congue.
      Suspendisse potenti. Nunc vitae dolor erat. Etiam vehicula orci lectus,
      eget aliquam nulla luctus vulputate. Sed sagittis lobortis ante. In
      finibus ac mi sed efficitur. Cras quis vestibulum elit. Donec rhoncus,
      risus vitae vehicula pulvinar, eros lacus lobortis orci, ut mattis nunc
      orci eu mauris. Nulla facilisi. Sed nec aliquet ipsum. Vivamus gravida,
      ligula sed tempor efficitur, magna quam bibendum arcu, et mattis odio
      velit eu lorem. Proin eget nibh auctor, auctor odio nec, commodo orci. Nam
      suscipit, tortor quis molestie dapibus, sapien ex suscipit ex, et mattis
      felis mauris eget sapien. Vestibulum viverra libero non neque congue,
      venenatis luctus mauris varius. Aliquam erat volutpat. Phasellus iaculis
      libero at convallis efficitur. Vivamus eleifend magna non dui pellentesque
      mollis. Praesent aliquam posuere quam vitae lobortis. Sed tristique congue
      diam, sed lacinia dolor ullamcorper nec. Aliquam laoreet urna tellus, vel
      molestie tortor consectetur at. Mauris et viverra arcu. Etiam nec
      pellentesque mauris. Vestibulum vitae faucibus purus.
    </div>

    <div class="right-box">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pharetra
      tempor est eget aliquam. Nullam dapibus lectus id odio commodo, quis
      congue turpis lobortis. Mauris mollis odio vel augue congue, vitae
      ultrices diam tempus. Integer congue mauris ornare, condimentum risus a,
      pharetra lorem. Vestibulum ante ipsum primis in faucibus orci luctus et
      ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum
      primis in faucibus. Fusce in interdum magna. Etiam rutrum, arcu in
      porttitor placerat, magna nisl imperdiet purus, ut vulputate nibh dolor
      vel elit. Ut a dolor et magna sagittis sodales. Pellentesque quis justo
      eget arcu elementum efficitur sed non velit. Praesent sodales bibendum
      orci. Ut ornare felis nisi, ut pretium tellus maximus hendrerit. Fusce
      fermentum, mi ut finibus fermentum, sem eros blandit lectus, ut mattis
      enim sapien sit amet tellus. Sed cursus, massa at molestie sodales, orci
      ex interdum dui, a dapibus est neque et augue. Suspendisse aliquam dolor
      est, in convallis ante finibus vel. Mauris tincidunt augue tempus, egestas
      nisi eu, gravida quam. Curabitur quis dignissim sapien. Fusce sed odio et
      risus tincidunt ultricies. Nullam bibendum ipsum lacus, quis semper odio
      tincidunt pellentesque. Aenean mollis, odio sit amet scelerisque placerat,
      erat nisl hendrerit justo, eu ultrices lectus urna sed orci. Nunc
      vestibulum commodo augue ut ullamcorper. Etiam vitae massa molestie,
      aliquet diam ac, tristique mauris. Sed consequat, enim non aliquet
      vulputate, ante dui bibendum tellus, at varius nibh felis in metus. Nam
      felis massa, rhoncus at condimentum nec, dapibus ut erat. Etiam tempus
      dictum velit eget imperdiet. Nam ullamcorper eu felis sit amet fermentum.
      Cras ac mi sit amet leo lacinia vehicula. Mauris sit amet egestas risus.
      Nam pulvinar non arcu a molestie. Pellentesque vitae tellus massa.
      Suspendisse posuere facilisis egestas. Sed accumsan, massa nec vestibulum
      ultrices, turpis quam scelerisque nulla, in elementum nibh odio non orci.
      Cras interdum dui et tempor bibendum. Sed nisl tortor, finibus non quam
      sed, blandit varius erat. Etiam sit amet egestas sem. In faucibus tempus
      lorem congue interdum. Quisque feugiat velit ut mi vehicula, eget
      tincidunt nulla aliquam. Integer id gravida sapien, vel volutpat libero.
      Maecenas bibendum nibh eget massa tincidunt, vel dapibus ante consequat.
      In nec justo in nibh porttitor mattis a ut metus. In hac habitasse platea
      dictumst. Morbi lobortis eleifend placerat. Sed eget leo eu velit
      imperdiet bibendum. Duis hendrerit bibendum augue vitae consectetur. Etiam
      malesuada eget purus dictum sagittis. Phasellus euismod, dui a pretium
      pharetra, lorem dui mollis dolor, id pulvinar nibh ex nec odio. Nam arcu
      ligula, ullamcorper nec metus suscipit, aliquet suscipit elit. Vestibulum
      mollis gravida velit, non sagittis nibh lacinia vitae. Ut quis tellus
      ullamcorper mauris gravida fringilla. Nulla cursus tellus diam, at finibus
      ligula lobortis ut. Mauris eget arcu at nibh semper aliquet. Vestibulum eu
      justo pharetra, aliquet arcu vel, pulvinar elit. Aliquam in metus
      condimentum diam volutpat luctus sed eget massa. Fusce elit dui, blandit
      vitae ante congue, condimentum placerat eros. Nunc eu convallis leo.
      Vivamus hendrerit porttitor ligula, a tincidunt magna volutpat at. In
      consequat nunc in nibh tristique vestibulum. Cras at arcu quis tortor
      elementum ullamcorper. Quisque facilisis volutpat velit, interdum
      ullamcorper mi imperdiet sed. Duis tincidunt porta rhoncus. Donec sed
      libero felis. Aenean ex odio, scelerisque id blandit eget, porttitor eget
      velit. Maecenas maximus velit non orci accumsan consectetur. Nulla in
      dapibus sapien. Curabitur massa tellus, porttitor nec ante eu, pretium
      cursus tortor. Curabitur pharetra lacinia metus. Ut sagittis sapien in
      tempor mollis. Suspendisse mauris mauris, varius sit amet tortor non,
      gravida pulvinar urna. Proin condimentum nulla eget tortor fringilla
      posuere.
    </div>
  </div>
</div>
